.main-nav{
   min-height: 50px;
   width: 100%;
   margin:0% auto;
   border-top:solid 3px rgb(235, 187, 98);
   box-shadow:0px 1px 5px rgb(80, 76, 76);
   position: fixed  ;
   z-index: 5;
   top: 0%;
   left: 0%;
   justify-content: center;
   display: flex;
   background-color: rgb(237, 237, 237);
   align-items: center;
}

.navbar{
   height: 100%;
   min-width:85%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.nav-logo{
   padding: 5px 10px;
   
   
}

.nav-item{
   margin: 0px 4px;
   font-size: small;
   font-weight: 500;
   text-decoration: none;
   color: rgb(66, 58, 58);
   transition: 0.2s;
}

.nav-btn{
   cursor: pointer;
   border-radius: 20px;
   padding:10px 20px;
}
.nav-item:hover{
   background-color: rgb(205, 201, 195);
}

.navbar form{
   flex-grow: 1;
   padding: 0px 12px;
   position: relative;
}

.navbar form input{
   min-width: 90%;
   margin: 0;
   padding:8px 10px 8px  32px;
   font-size: 13px;
   border:solid 1px rgb(90, 88, 88);
   border-radius: 3px;
}

.navbar form .search-icon{
   position: absolute;
   left: 25px;
   top: 8px;

}

.nav-links{
   padding:7px 13px;
   border: solid 1px rgb(127, 167, 192);
   border-radius: 3px;
   background-color: #e7f8fe;
   cursor:pointer;
}

.nav-links:hover{
   background-color: #a5c2ce;
}